<h1>Welcome to the longest word game</h1>

<h2>Here is your grid:</h2>
<h1><%= @grid %></h1>

<h2>What's your best shot?</h2>
<form action="/score" method="get">
  <label for="question">Make Your Best Word</label>
  <input type="text" id="question" name="query" placeholder="form a word">
  <input type="hidden" name="time" value="<%= Time.now %>">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="submit" value="submit">
</form>
